@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Définit le type du texte des pages */
html{
	font-family: 'Montserrat', Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* Définit le background des pages */
body{
	background-image: url("sport.jpg");
	background-size: cover;
}

/* Définit le cadre qui englobe les formulaires */
#container{
	border: solid 3px #474544;
	max-width: 768px;
	margin: 60px auto;
	position: relative;
	background: #F2F3EB;
}

/* Définit l'emplacement, la couleur et la police des titres de chaque page */
h1{
	color: #474544;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
}

/* Définit le style des boutons utilisés dans les formulaires  */
#form_button{
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover{
	background: #474544;
	color: #F2F3EB;
}

form{
	padding: 34px;
	text-align: center;
}

input{
	line-height: normal;
}

/* Permet de donner un style à tous les types d'input utilisés dans les formulaires */
input[type='file'], [type='text'], [type='password'], [type='date'], [type='email'], [type='number'], select{
	background: none;
	border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='file']:focus, [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='email']:focus, [type='number']:focus, select{
	outline: none;
	padding: 0 0 0.875em 0;
}

/* Position des divisions de chaque formulaire */
.surname {
	float: left;
	width: 45%;
}

.name {
	float: right;
	width: 45%;
}

.email {
	float: left;
	width: 100%;
}

.password {
	float: left;
	width: 100%;
}

.sex {
	float: left;
	width: 100%;
}

.birthday {
	float: right;
	width: 100%;
}

.size {
	float: left;
	width: 45%;
}

.weight {
	float: right;
	width: 45%;
}

.fichier{
	float: left;
	width: 100%;
}

/* Permet de créer le menu accessible en haut à droite de chaque page avec des effets */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.wrapper{
	position: fixed;
	top: 0;
	right: -100%;
	height: 100%;
	width: 100%;
	background: #000;
	transition: all 0.6s ease-in-out;
}

#active:checked ~ .wrapper{
  right:0;
}

.menu-btn{
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #F2F3EB; 
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before{
	transform: translateY(-8px);
}

.menu-btn:after{
	transform: translateY(8px);
}

.close{
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

#active:checked + .menu-btn span{
	transform: scaleX(0);
}

#active:checked + .menu-btn:before{
	transform: rotate(45deg);
	border-color: rgb(0, 0, 0);
}

#active:checked + .menu-btn:after{
	transform: rotate(-45deg);
    border-color: rgb(0, 0, 0);
}

.wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li{
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a{
	text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after{
	position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after{
	transform: scaleY(1);
}

.wrapper ul li a:hover{
    color: #000000;
}

input[type="checkbox"]{
    display: none;
}

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.content .title{
    font-size: 100px;
    font-weight: 700;
}

.content p{
	font-size: 35px;
    font-weight: 600;
}
  
#active:checked ~ .wrapper ul li a{
	opacity: 1;
}

.wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}
  
#active:checked ~ .wrapper ul li a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
	transition-delay: .6s;
	transform: translateX(-100px);
}